<div class="container-fluid">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark h4">
<!-- Brand -->
<a class="navbar-brand text-warning">ProjectAngular</a>

<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/Forms" class="nav-link " routerLinkActive="active">Add person</a>
        </li>
       
  </ul>
</div>
</nav>
</div>
<br/>
<div class="container">
<router-outlet></router-outlet>
</div>